html {
	background: linear-gradient(#e66465, #9198e5);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

body {
	width: 33%;
	max-width: 500px;
	min-width: 400px;
	margin: auto;
	transition: all 1s ease-in-out;
}

.card {
	margin: 10px;
	padding: 2%;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	word-break: break-all;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 15px 10px;
}

img:active {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	object-fit: contain;
	z-index: 100;
	background-color: black;
}

video, audio, img {
	width: 100%;
}

.musicfix {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 350px;
}

a {
	margin: 5px;
	display: block;
}

@media (max-width: 768px) {
	body {
		width: 100%;
		min-width: none;
		max-width: none;
		transition: all 1s ease-in-out;
	}
	html {
		background: black;
	}
}