html {
	background: linear-gradient(90deg, #e66465, #8790f2, #3eca94, #da56f2);
	/* background: linear-gradient(90deg, red, orange, yellow, green, blue, violet); */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
}
/* total width */
html::-webkit-scrollbar {
	display: none;
    background-color: #da56f2;
    width: 8px;
}
/* background of the scrollbar except button or resizer */
html::-webkit-scrollbar-track {
    background-color: #00000000;
	display: none;
}
/* scrollbar itself */
html::-webkit-scrollbar-thumb {
    background-color: #d337ee;
    border-radius: 8px;
	display: none;
}
/* set button(top and bottom of the scrollbar) */
html::-webkit-scrollbar-button {
    display:none;
}

.snappingOn{
	scroll-snap-type: y proximity;
}
body{
	margin: 0;
}
.maincontainer {
	width: 40%;
	max-width: 500px;
	min-width: 400px;
	margin: auto;
	transition: all 1s ease-in-out;
}

.card {
	margin-top: 8px;
	padding: 5px;
	text-align: center;
	background-color: rgb(0 0 0 / 35%);
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	word-break: break-all;
	width: 100%;
	box-sizing: border-box;
	scroll-snap-align: start;
	scroll-margin: 4px;
	box-shadow: lightgrey 0px 0px 9px 0px;
}

.card:hover {
	box-shadow: lightgrey 0px 0px 25px 1px;
}

img:active {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	object-fit: contain;
	z-index: 100;
	background-color: black;
	max-height: none;
	border-radius: unset;
}

video, audio, img {
	width: 100%;
	border-radius: 5px;
	object-fit: contain;
	max-height: calc(100vh - 12rem - 15px - 7px);
}

.musicfix {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 350px;
}

a {
	margin: 5px;
	display: block;
	font-weight: 500;
}

@media (max-width: 768px) {
	.maincontainer {
		width: 98%;
		min-width: none;
		max-width: none;
		transition: all 1s ease-in-out;
	}
	html {
		background: rgb(224, 4, 4);
	}
}

.post{
	width: 100%;
	position: relative;
	/* border: solid #9198e5 2px; */
	box-sizing: border-box;
	margin: 0px;
	/* border-radius: 5px 5px 0 0;
	overflow: hidden; */
	/* z-index: 2; */
	/* float: left; */
}
.comments{
	width: 100%;
	position: relative;
	/* border: solid #1ecf59 2px; */
	box-sizing: border-box;
	/* margin: 0px; */
	max-height: 10rem;
	padding: 5px;
	overflow-y: scroll;
	word-wrap: break-word;
	text-align: left;
	word-break: normal;
	transition: all 0.3s ease-in-out;
	-webkit-user-select: text; /* Safari */        
	-moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* IE10+/Edge */
	user-select: text; /* Standard */
}

/* total width */
.comments::-webkit-scrollbar {
    background-color: #00000000;
    width: 8px;
}
/* background of the scrollbar except button or resizer */
.comments::-webkit-scrollbar-track {
    background-color: #00000000;
}
/* scrollbar itself */
.comments::-webkit-scrollbar-thumb {
    background-color: #63ccaf;
    border-radius: 8px;
    /* border: 1px solid #ffffff73; */
}
/* set button(top and bottom of the scrollbar) */
.comments::-webkit-scrollbar-button {
    display:none;
}

.wrapper {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.3s ease-in-out;
	/* border: solid #cf1ea3 2px; */
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: inset black 0px 0px 10px 0px;
	color: rgb(185, 185, 185);
}
.msginput{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 2rem;
	font-size: 1rem;
	border: 0;
	outline: none;
	border-top: dashed 1px #e66465;
	padding-left: 5px;
	background-color: transparent;
	border-radius: 0;
	color: inherit;
}
.msginput::placeholder {
	color: rgb(136, 136, 136);
}

.butspeed{
	height: 2rem;
	margin: 0.2rem;
	border-radius: 10px;
    border: solid 1px #797979;
	box-shadow: #000000 0 0 5px 0px;
	cursor: pointer;
}
.butspeedactive {
	background-color: #3eca94;
	color: white;
}
.butspeed:hover{
	box-shadow: #000000 0 0 7px 0px;
}
.butwrapper{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	text-align: start;
	margin: 5px;
}
.video:hover + .butwrapper, .butwrapper:hover{
	display: block;
	transition: all 1s;
}
.videoname{
	text-shadow: 0 0 2px white;
    font-weight: 500;
    margin: 5px;
    background-color: rgb(255 255 255 / 70%);
    border-radius: 3px;
    padding: 3px;
	word-break: normal;
}

a {
	word-break: normal;
}

.over {
    display: none;
    position: fixed;
    background-color: #000000c4;
    width: 100%;
    height: 100%;
    z-index: 200;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #ffffff26;
}
.over.show {
	display: flex;
}

.rect {
	box-sizing: border-box;
	border-style: solid;
	border-width: 3px;
	color: rgb(255, 0, 0);
	height: 50px;
	width: 50px;
	text-align: center;
	position: fixed;
	border-radius: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 10;
}


.mycheck {
	display: block;
    position: fixed;
    left: 13px;
    top: 13px;
    margin: 0;
    width: 50px;
	animation: myCheckOffBefore 0.9s ease-out;
}
.mycheck::before {
	display: block;
    content: " ";
    width: 50px;
    height: 28px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgb(238 25 60);
    border-radius: 100px;
    border: solid white 3px;
    box-sizing: border-box;
    box-shadow: inset black 0 0 5px 0px;
    transition: all 0.6s 0.3s;
}
.mycheck::after {
	display: block;
    content: " ";
    width: 20px;
    height: 20px;
    position: relative;
    top: -24px;
    left: 4px;
    background-color: #ffffff;
    border-radius: 100px;
	transition: all ease-in 0.5s 0.1s;
	box-shadow: inset black 3px -3px 5px -2px;
}
.mycheck:checked::after {
	left: 26px;
	box-shadow: inset black -3px -3px 5px -2px;
}
.mycheck:checked{
	animation: myCheckOnBefore 0.9s ease-out;
}
.mycheck:checked::before {
	background-color: rgb(143, 207, 47);
}
@keyframes myCheckOnBefore {
	0% {transform: rotate(0deg);}
	33% {transform: rotate(10deg);}
	66% {transform: rotate(10deg);}
	100% {transform: rotate(0deg);}
}
@keyframes myCheckOffBefore {
	0% {transform: rotate(0deg);}
	33% {transform: rotate(-10deg);}
	66% {transform: rotate(-10deg);}
	100% {transform: rotate(0deg);}
}